<% include header %>
<body>

  <h1>About Page</h1>
  
  <h2> Purpose of This Website </h2>

  <p>The purpose of this website is to display my collection of hockey cards. You are able to upload,
  		edit and delete cards.</p>
  		
  <h2> Information about the company </h2>
  <p>My team consists of me, myself, and I. Struggling through school so that I can hopefully earn
  	 enough money later in life to buy ramen. </p>
  	 
  <h2> Contact Info </h2>

  <p>Email: IveNeverHadSpam@IsItGood?.com</p>
	<a href="/">Home Page</a> - back to the home page

</body>

<% include footer %>
