<!DOCTYPE HTML>
<html>
<head>
    <title>My Hockey Cards</title>
</head>
<body>
<header>
    <h1>My Hockey Cards</h1>
    <h2><%= locals.settings.subtitle %></h2>
</header>
<div id="content">