<% include header %>

            This is a list of examples.  See the app.js file to see what happens when these links are clicked.
            <ol>
                <li><a href="/card/create">Add a Card</a> - Modified version of Example 1 that saves user information to the database</li>
                <li><a href="/card/all">List Players</a> - Displays all players in a table</li>
                <li><a href="/card/about">About</a> - Display info about this website </li>
            </ol>


<% var hideBackLink = true; %>
<% include footer %>